<div class="mat-bottom-sheet-container">
  <h1 class="mat-h1">iInvoice</h1>
  <nav mat-tab-nav-bar>
    <a mat-tab-link routerLinkActive="active-link" [routerLink]="'users'"
      >users</a
    >
    <a
      mat-tab-link
      routerLinkActive="active-link"
      [routerLink]="'products-types'"
      >products-types</a
    >
    <a mat-tab-link routerLinkActive="active-link" [routerLink]="'products'"
      >products</a
    >
    <a mat-tab-link routerLinkActive="active-link" [routerLink]="'orders'"
      >orders</a
    >
    <a mat-tab-link routerLinkActive="active-link" [routerLink]="'clients'"
      >clients</a
    >
  </nav>
</div>
<div class="mat-drawer-container">
  <router-outlet></router-outlet>
</div>
